export(extract_coefficient_path)
export(extract_coefficients)
export(extract_cv_path)
export(extract_min_1se_data)
export(plot_coefficient_coefplot)
export(plot_coefficient_path)
export(plot_coefficient)
export(plot_cv_path)
export(plot_logistic_response)
